.custum_container {
  margin: 40px;
}

.header-row {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #f8f9fa;
  border-radius: 2px;
}

.brand-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.brand-logo {
  width: 90px;
  height: 40px;
}

.brand-title{
  margin-top: 10px;
  font-weight: bold;
  font-size: 1rem;
}

.button-group {
  display: flex;
  gap: 40px;
}

.exit-btn{
color:red;
border: 2px solid #f46161;
border-radius: 20px;
}

.report-btn, .return-btn, .draft-btn{
color:rgb(48, 48, 48);
border-color: rgb(78, 76, 76);
border-radius: 20px;
border: 2px solid #ccc;
}

.gapin-btn{
  margin-right: 10px;
}


.action-btn {
  padding: 5px 5px;
  min-width: 100px;
  transition: all 0.3s ease-in-out;
}
.icon-keyboard{
  font-size: 1.8rem; 
}

.action-btn:hover {
  background-color: #e9ecef;
  color: #070505;
}
.time-section{
  margin: 5px;
  padding: 5px;
  min-width: 250px;
  text-align: center;
  border-radius: 20px;
  color: rgb(4, 128, 124);
  background-color: #f3f6f5;

}

.search-container {
  max-width: 600px;
  margin: 5px auto; 
  padding: 5px; 
}
.search-box {
  position: relative;
}
.search-box .form-control {
  padding-left: 40px; 
}
.search-box .search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}
.search-box .barcode-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
}


.customer-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  margin: 5px auto;
}

.customer-dropdown {
  display: flex;
  align-items: center;
  min-width: 300px;
  outline: none;
  border: 1px solid #ced4da;


}

.custom-select {
  border: none !important; 
  outline: none !important; 
  box-shadow: none !important;
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
   max-height: 33px;
}
.customer-dropdown::after {
  content: "\2304"; 
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right: 70px;
  top: 35%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #333; 
}

.custom-select:focus {
  outline: none;
  box-shadow: none;
}


.customer-dropdown i {
  margin-left: 40px;
font-size: 1.2rem;
}
 .customer-dropdown {
  position: relative;
}




.btn-custom {
  padding: 5px 5px;
  min-width: 300px;
  background-color: #2E9F80; 
  color: white; 
  border: none; 
  outline: none; 
  cursor: pointer; 
  display: flex;
  align-items: center;
  justify-content: center;
 
}


.custom-select:focus,
.btn-custom:focus {
  box-shadow: none;
  outline: none;
}

.custom-dropdown-btn {
  background-color: #ffffff; 
  color: #2e9f80;
  border: none;
  outline: none; 
  padding: 5px 5px; 
  border-radius: 5px; 
  cursor: pointer; 
  font-weight: bold;
  font-size: 0.85rem;
  transition: background-color 0.3s ease; 
}

.dropdown-menu {
  border: none; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  padding: 10px 20px; 
  color: #333; 
  font-size: 0.85rem;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #2e9f80; 
  color: #000; 
}

.total-medicine-text{
  font-size: 0.85rem;
  font-weight: bold;
  margin-top: 5px;

}


.all-medicine-text{
  font-size: 0.85rem;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 10px;
}


.category-list {
  list-style: none;
  padding: 0;
}

.category-list .list-group-item {
  cursor: pointer;
  font-size: 0.9rem;
  font-weight:500;
  height: 45px;
  transition: background-color 0.3s ease-in-out;
}

.category-list .list-group-item:hover {
  background-color: #2e9f80;
  color: #000000;
}

.card {
  height: 130px;
  width: 120px;
  border-radius: 0.75rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 7px;
  margin-right: 7px;
  margin-left: 7px;
} 

.product-section {
  height: 450px;
}

.product-image {
  width: 40px; 
  height: 40px;
  border-radius: 50%; 
  object-fit: cover; 
  border: 1px solid #ccc;
  margin-right: 5px;
}
.serarch-Section{
  margin: 10px;
}

.product-info {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.disabled {
  pointer-events: none;  
  opacity: 0.8;         
  cursor: not-allowed; 
}

.product-info p {
  display: inline-block; 
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
  line-height: 1;
}


.card-title {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-text {
  font-size: 0.8rem;
  font-weight: bold;
}

.quantity, .stock-alart {
  font-size: 0.7rem;
  font-weight: bold;
}

.discount{
  font-size: 0.7rem;
  font-weight: bold;
  
}

.stock-alart {
  margin-top: 7px;
}

.text-success {
  color: green;
}

.text-danger {
  color: red;
}

.scrollable-container {
  max-height: 540px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

.scrollable-container::-webkit-scrollbar {
  width: 8px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;

}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.scrollable-container::-webkit-scrollbar-track {
  background-color: transparent;
}


.items-name{
  font-weight: bold;
  font-size: 0.8rem;
}


.cartitmes-footer-right{
  margin-left: 50px;
  justify-content: end;
}

.custom-modal {
  max-width: 800px;
  height: 600px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}

.modal-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.modal-body {
  padding: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-weight: 500;
  margin-bottom: 5px;
}

.form-control,
.form-select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}


.payment-options {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.payment-box {
  border: 2px solid #ccc;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  transition: 0.3s;
}

.payment-box img {
  width: 50px;
  height: 50px;
}

.payment-box.selected {
  border-color: #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  background-color: #f0f8ff;
}


.table-container {
  max-height: 370px; 
  overflow-y: auto; 
  overflow-x: hidden; 
  border-radius: 8px; 
}

.table-container::-webkit-scrollbar {
  width: 9px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #cccccc;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #cccccc;
}



.btn-increase {
  width: 30px;
  height: 30px;
  padding: 1em;
  border-radius: 50%;
  border: none;
  background-color: #276b32;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn-decrease{
  width: 30px; 
  height: 30px; 
  padding: 6px 0px; 
  border-radius: 15px; 
  font-size: 8px; 
  text-align: center;
  border: none;
  background-color: #cd6969;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn-decrease:hover, .btn-increase:hover {
  background-color: #ed4e22;
}


.quantityinTable {
  min-width: 30px;
  text-align: center;
}

.header-text{
  font-size: 0.8rem;
  position: sticky;
}


.display-button {
  background-color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.cartitmes-footer-right {
  text-align: right;
}

  .TableButton-cart{
    margin: 10px;
    padding: 10px;
  }



  .offcanvasSection{
    min-width: 700px;
    margin-left: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }